body {
    font-size: 14px;
    color: #000;
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: "Century Gothic", "Arial";
    padding: 0;
    margin: 0;
}

main, header div, footer p {
    max-width: 1200px;
    padding: 0;
    margin: auto;
}

header, footer {
    background: #1b5ee3;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header ul li {
    display: inline-block;
    padding: 0 15px;
}

header ul li a {
    color: #fff;
}

button {
    box-shadow: 0 22px 44px -12px rgba(42, 70, 255, .35);
    background-color: #2a46ff;
    padding: 15px 30px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 600;
    font-size: 12px;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    margin-bottom: 30px;
}

main > section {
    padding: 60px 30px;
}

.container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    /*margin: 0 -15px;*/
    justify-content: space-between;
}

.col-4 {
    max-width: 30%;
    /*margin: 0 15px;*/
}

#wrap_section2 table {
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

#wrap_section2 table th {
    color: #2a46ff;
    border-bottom: 2px solid #2a46ff;
    padding: 10px 8px;
}

#wrap_section2 table td {
    color: #404040;
    padding: 9px 8px;
    transition: .3s linear;
}

#wrap_section2 > table > tr:hover td {
    color: #2a46ff;
}



@media (max-width: 768px){
    .col-4 {
        max-width: 100% !important;
    }
}

